In [23]:
import numpy as np
import pandas as pd
import re
import nltk

In [8]:
df=pd.read_csv('train.csv',encoding= 'unicode_escape')
df1=pd.read_csv('test.csv',encoding='unicode_escape')

In [9]:
df.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27481 entries, 0 to 27480
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   textID            27481 non-null  object
 1   text              27480 non-null  object
 2   selected_text     27480 non-null  object
 3   sentiment         27481 non-null  object
 4   Time of Tweet     27481 non-null  object
 5   Age of User       27481 non-null  object
 6   Country           27481 non-null  object
 7   Population -2020  27481 non-null  int64
 8   Land Area (Km²)   27481 non-null  float64
 9   Density (P/Km²)   27481 non-null  int64
dtypes: float64(1), int64(2), object(7)
memory usage: 2.1+ MB

In [11]:
df = df[["text", "sentiment"]]

In [12]:
df.head()

                                                text sentiment
0                I`d have responded, if I were going   neutral
1      Sooo SAD I will miss you here in San Diego!!!  negative
2                          my boss is bullying me...  negative
3                     what interview! leave me alone  negative
4   Sons of ****, why couldn`t they put them on t...  negative

In [14]:
df1=df1[["text", "sentiment"]]

In [15]:
df1.head()

                                                text sentiment
0  Last session of the day  http://twitpic.com/67ezh   neutral
1   Shanghai is also really exciting (precisely -...  positive
2  Recession hit Veronique Branquinho, she has to...  negative
3                                        happy bday!  positive
4             http://twitpic.com/4w75p - I like it!!  positive

In [18]:
df.shape

(27481, 2)

In [19]:
df1.shape

(4815, 2)

In [20]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

train_y=le.fit_transform(df['sentiment'])
test_y=le.fit_transform(df1['sentiment'])

#preprocessing

Lower Casing
Tokenization
Punctuation Mark Removal
Stop Word Removal
Stemming
Lemmatization

In [24]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anees\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [25]:
from nltk.stem import WordNetLemmatizer
lm= WordNetLemmatizer()
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\anees\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [28]:
def preprocessing(text: str):
    
    text=text.strip() 
    
    text=text.lower()
    
    url_pattern = re.compile(r"https?://\S+|www\.\S+")
    text = re.sub(url_pattern, "", text)
    
    username_pattern = re.compile(r"@\w+")
    text = re.sub(username_pattern, "", text)
    
    hashtag_pattern = re.compile(r"#\w+")
    text = re.sub(hashtag_pattern, "", text)
    
    # Character normalization 
    text = re.sub(r"([a-zA-Z])\1{2,}", r'\1', text)
    
    # Remove Special Characters
    text = re.sub(r'[^a-zA-Z\s]', "", text)
    
    text=nltk.sent_tokenize(text)
    
    text = nltk.word_tokenize(text)
    
    text=[word for word in text if wrd.isalnum()]
    
    def get_pos(word):
        tag = nltk.pos_tag([word])[0][1][0].upper()
        tag_dict = {"N": "n", "V": "v", "R": "r", "J": "a"}
        return tag_dict.get(tag, "n")
    
    lemma = nltk.stem.WordNetLemmatizer()
    text = [lemma.lemmatize(word, pos=get_pos(word)) for word in text]

    return text